<div class="ui statistics">
    <div class="statistic">
      <div class="value">
        {{placed}}
      </div>
      <div class="label">
        Already Placed!
      </div>
    </div>
    <div class="statistic">
      <div class="text value">
        {{users | numberToWords}}
        <br>
        Thousand+
      </div>
      <div class="label">
        Signups
      </div>
    </div>
    <div class="statistic">
      <div class="value">
        <i class="building icon"></i> {{companies}}
      </div>
      <div class="label">
        Companies
      </div>
    </div>
    <div class="statistic">
      <div class="value">
        <img src="assets/images/avatars/elliot.jpg" class="ui circular inline image"> 5
      </div>
      <div class="label">
        Team Members
      </div>
    </div>
  </div>