<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment" style="background: tomato">
    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="toc item"><i class="sidebar icon"></i></a><a class="active item">Home</a><a class="item">Work</a><a class="item">Company</a><a class="item">Careers</a>
        <div class="right item">
          <a class="ui inverted button" href="javascript:void(0)"  (click)="loginclicked()">Log in</a><a class="ui inverted button" href="javascript:void(0)" (click)="signupclicked()">Sign Up</a>
        </div>
      </div>
    </div>
    <div class="ui text container">
      <h1 class="ui inverted header">
        Imagine-a-Company
      </h1>
      <h2>
        Do whatever you want when you want to.
      </h2>
      <div class="ui huge primary button" (click)="signupclicked()">
        Get Started<i class="right arrow icon"></i>
      </div>
    </div>
  </div>
  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">
            We Help Companies and Companions
          </h3>
          <p>
            We can give your company superpowers to do things that they never thought possible. Let us delight your customers and empower your needs...through pure data analytics.
          </p>
          <h3 class="ui header">
            Fired?!!!
          </h3>
          <p>
            Getting fired is nature’s way of telling you that you had the wrong job in the first place. -Hal Lancaster
          </p>
        </div>
        <div class="six wide right floated column">
          <img class="ui large bordered rounded image" src="assets/images/avatars/elyse.png" />
        </div>
      </div>
      <div class="row">
        <div class="center aligned column">
          <a class="ui huge button">Check Them Out</a>
        </div>
      </div>
    </div>
  </div>
  <div class="ui vertical stripe quote segment">
    <div class="ui equal width stackable internally celled grid">
      <div class="center aligned row">
        <div class="column">
          <h3>
            "What a Company"
          </h3>
          <p>
            That is what they all say about us
          </p>
        </div>
        <div class="column">
          <h3>
            "I shouldn't have gone with their competitor."
          </h3>
          <p>
            <img class="ui avatar image" src="assets/images/avatars/elliot.jpg" /><b>Nan</b>Chief Fun Officer Acme Toys
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="ui vertical stripe segment">
    <div class="ui text container">
      <h3 class="ui header">
        Personal Skills
      </h3>
      <p>
        Personal skills are not easy to quantify but they are essential for good communication, and a lack of them can seriously hinder your chances of completing projects. Read here what personal skills employers are seeking and how to include them in your CV and cover letter application.
      </p>
      <a class="ui large button">Read More</a>
      <h4 class="ui horizontal header divider">
        <a href="homepage.html#"> Skills to Survive</a>
      </h4>
      <h3 class="ui header">
        Management Skills
      </h3>
      <p>
        Good management skills are vital for any organization to succeed and achieve its goals and objectives. A manager who fosters good management skills is able to propel the company’s mission and vision or business goals forward with fewer hurdles and objections from internal and external sources.
      </p>
      <a class="ui large button">Read More</a>
    </div>
  </div>
  <div class="ui inverted vertical footer segment" style="background: tomato">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">
            About
          </h4>
          <div class="ui inverted link list" >
            <a class="item" href="homepage.html#"> Sitemap</a><a class="item" href="homepage.html#"> Contact Us</a><a class="item" href="homepage.html#"> Mail To Us</a><a class="item" href="homepage.html#"> Careers with Us</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">
            Services
          </h4>
          <div class="ui inverted link list" >
            <a class="item" href="homepage.html#"> How To?</a><a class="item" href="homepage.html#"> FAQ</a><a class="item" href="homepage.html#"> How To Access?</a><a class="item" href="homepage.html#"> Partner us</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">
            JobSeek
          </h4>
          <p>
            At JobSeek, we're dedicated to making the job search process simple—and stress free. Our job search engine is built with powerful technology that aims to match the right job opportunities with the right people.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
