<div class="ui very padded container segment" >
    <form [formGroup]="hrSkillForm" class="ui form">
      <h4 class="ui dividing header"></h4>
        <div class="field">
          <label>Skills</label>
          <select class="ui fluid search dropdown"  multiple="" formControlName="skills" [ngModel]="hrdata.skillValue">
            <option value="">Select</option>
            <option [value]='option' *ngFor="let option of skillsArray">{{option}}</option>
          </select>
        </div>
      <button class="ui primary button" type="submit" (click)="onSubmit()"> Save </button>
      <button class="ui button" (click)="discardClicked()"> Discard </button>
    </form>
</div>