
div.login-div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    
    display: block;
    background-size:cover;
    width: 100%;
    height: 100%;
    
    /* -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(3px); */
    background-image: url('/assets/images/bg-images/login_page_bg_image.jpg');
}

h1.h1-login {
    border:2px solid;
    background-repeat: no-repeat;
    background-size: inherit;
    /* color: seashell; */
    background-image: url('/assets/images/bg-images/login_page_bg_image.jpg');
    text-align: center;
}

.tomato {
    border-color: tomato;
    background-color: tomato;
}

.ng-invalid {
    border-color: red;
    /* background-color: red; */
}