<div class="ui grid">
    <div class="six wide column">
      <h6>Job Title:</h6>
    </div>
    <div class="ten wide column">
      <h1 style="text-align: center">{{hrpost?.title}}</h1>
    </div>
  
    <div class="six wide column">
      <h6>Job Description:</h6>
    </div>
    <div class="ten wide column">
      <p>{{hrpost?.description}}</p>
    </div>
  
  
      <div class="six wide column">
        <h6>Company Name:</h6>
      </div>
      <div class="ten wide column">
        <p>{{hrpost?.companyname}}</p>
      </div>
  
  
      <div class="six wide column">
        <h6>Selection Procedure:</h6>
      </div>
      <div class="ten wide column">
        <p>{{hrpost?.selectionProcedure}}</p>
      </div>
  
  
    <div class="six wide column">
      <h6>StartDate To Register:</h6>
    </div>
    <div class="ten wide column">
      <p>{{hrpost?.startdate}}</p>
    </div>
  
  
    <div class="six wide column">
      <h6>EndDate To Register:</h6>
    </div>
    <div class="ten wide column">
      <p>{{hrpost?.enddate}}</p>
    </div>
  
  
    <div class="six wide column">
      <h6>Skills Required:</h6>
    </div>
    <div class="ten wide column">
      <p>{{hrpost?.skills}}</p>
    </div>
  
  
    <div class="six wide column">
      <h6>Job Location:</h6>
    </div>
    <div class="ten wide column">
      <p> {{hrpost?.location}}</p>
    </div>
  
  
    <div class="six wide column">
      <h6>Salary:</h6>
    </div>
    <div class="ten wide column">
      <p>{{hrpost?.salary}}</p>
    </div>
  
  
      <div class="six wide column">
        <h6>Experinece Required:</h6>
      </div>
      <div class="ten wide column">
        <p>{{hrpost?.experinece}}</p>
      </div>
  
  
      <div class="six wide column">
        <h6>Date of Joining:</h6>
      </div>
      <div class="ten wide column">
        <p>{{hrpost?.dateOfJoining}}</p>
      </div>
  
  
      <div class="six wide column">
        <h6>Extra Requirement:</h6>
      </div>
      <div class="ten wide column">
        <p>{{hrpost?.extraRequirement}}</p>
      </div>
  
  
      <div class="six wide column">
        <h6>No Of Job Openings:</h6>
      </div>
      <div class="ten wide column">
        <p>{{hrpost?.noOfJobOpenings}}</p>
      </div>
  
  
      <div class="six wide column">
        <h6>Company Url:</h6>
      </div>
      <div class="ten wide column">
        <a target="blank" href="http://{{hrpost?.CompanyUrl}}">{{hrpost?.CompanyUrl}}</a>
      </div>
  
  
      <div class="six wide column">
        <h6>Bond Details:</h6>
      </div>
      <div class="ten wide column">
        <p>{{hrpost?.bondDetails}}</p>
      </div>
  
  
      <div class="six wide column">
        <h6>Reporting Venue:</h6>
      </div>
      <div class="ten wide column">
        <p>{{hrpost?.ReportingVenue}}</p>
      </div>
  
  
      <div class="six wide column">
        <h6>Resource Person Contact:</h6>
      </div>
      <div class="ten wide column">
        <p>{{hrpost?.ResourcePersonContact}}</p>
      </div>
  </div>
  