<div class='field' *ngIf='forgetInfo'>
  <div class="login-div">
    <div class="mid-body">
      <div class="ui raised very padded text container segment">
        <h1 class="h1-login">Enter your registered mail address</h1>
        <div class="ui middle aligned very relaxed stackable grid">
          <div class="column">
            <form class="ui form" [formGroup]="loginEmailForm">
              <div class="field">
                <label>Email</label>
                <div class="ui left icon input">
                  <input autofocus type="text" placeholder="enter your registered email" formControlName="userEmail" [(ngModel)]='user_details.email'>
                  <i class="user icon"></i>
                </div>
                <div *ngIf="loginEmailForm.controls['userEmail'].touched&&!loginEmailForm.controls['userEmail'].valid" class="alert alert-danger">
                  <p>please enter valid mail address</p>
                </div>
              </div>
              <div class="field">
                <div class="ui toggle checkbox">
                  <input type="checkbox" name="public" formControlName="isHr" value="">
                  <label>I am an HR</label>
                </div>
              </div>
              <div class="field">
                <button auto-focus class="ui tomato fluid submit button" [disabled]="!loginEmailForm.valid" (click)="resetPassword()">submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="field" *ngIf='resetInfo'>
  <div class="login-div">
    <div class="mid-body">
      <div class="ui raised very padded text container segment">
        <h1 class="h1-login">Reset password</h1>
        <div class="ui middle aligned very relaxed stackable grid">
          <div class="column">
            <form class="ui form" [formGroup]="resetForm">
              <div class="field">
                <label>Password</label>
                <div class="ui left icon input">
                  <input type={{inputType}} placeholder="create new password" formControlName="password" [(ngModel)]='user_details.password'>
                  <i class="lock icon"></i>
                </div>
                <div *ngIf="resetForm.controls['password'].touched&&(resetForm.controls['password'].dirty&&!resetForm.controls['password'].valid)"
                  class="alert alert-danger">
                  <p>create strong password</p>
                </div>
              </div>
              <div class="field">
                <label>Confirm Password</label>
                <div class="ui left icon input">
                  <input type={{inputType}} placeholder="confirm your password" formControlName="confirmPassword" [(ngModel)]='compareValue'>
                  <i class="lock icon"></i>
                </div>
                <a href="javascript:void(0)" (click)='tooglepwd()'>show/hide</a>
                <div *ngIf="resetForm.controls['confirmPassword'].touched&&!(user_details.password===compareValue)" class="alert alert-danger">
                  <p>Re-enter password as above</p>
                </div>
              </div>
              <div class="field">
                <button auto-focus class="ui tomato fluid submit button" [disabled]="!(resetForm.valid&&user_details.password===compareValue)"
                  (click)="onSubmit()"><i class='lock icon'>Reset Password</i></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
