
<app-hr-header [hrdata]='hrdata' ></app-hr-header>
<br>
<div class="ui grid">
  <div class="four wide column" style="background-color: rgb(100, 99, 99); height:750px">
      <div *ngIf="manageBack">
          <div style="margin-top: 30px; background-color: lightbalck">
              <a (click)='backpage()'>
                <h4 class="nav">Back</h4>
               </a>
         </div>
      </div>

      <div style="margin-top: 30px; background-color: lightbalck">
          <a (click)='viewprofile($event)'>
            <h4 class="nav">{{textInfo}}</h4>
          </a>
        </div>
  </div>
<div class="eight wide column">
    
  <div *ngIf="manageApplicantInfo">

      <div *ngIf='!loadPage && !loadError'>
          <h4>loading...... please wait</h4>
         <span> <img src="assets/loader.svg" height="64" alt="Nice green circle"/></span>
      </div>
      <h4 *ngIf='loadPage && !loadError && (!hrpost?.applicants || !hrpost?.applicants)'>
          No one is apply to this post
      </h4>
      <div *ngIf="loadError">
          <div class="alert alert-danger">
            {{error_text}}
          </div>
      </div>
    <div class="">
      <app-hr-manage-applicant-list *ngFor="let applicant of hrpost.applicants" [applicants]="applicant" (viewProfiles)="viewprofile($event)"></app-hr-manage-applicant-list>
   </div>
  </div>
  <div *ngIf="applicantDetailsInfo">
    <div class="">
     <app-hr-manage-applicant-list-details (openChat)="chatOpen = $event" [postData]="applicant" [hrpost]="hrpost"></app-hr-manage-applicant-list-details>
   </div>
  </div>
</div>
  <div class="four wide column">
    <div style="border: solid 2px lightblue; margin-top:10px">
      <div class="row">
        <div class="col-md-7">
          <h4>
            <span class="glyphicon glyphicon-user"></span>
            <br>Applicant Registered
          </h4>
        </div>
        <div class="col-md-5" style="margin-top:15px">
           <span class="glyphicon glyphicon-thumbs-up"></span>
           <h2>{{hrpost?.applicants.length}}</h2>
        </div>
      </div>
    </div>
    <app-chat *ngIf="chatOpen" [initiator]="this.hrpost.hrRef" [recepient]="this.applicant?._id" (expandClick)="st = $event;"></app-chat>
  </div>
</div>
